<!doctype html>

<html lang="en">
  <head>
    <% include header.ejs %>
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/categories.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <% include footer.ejs %>
    <% include user-navigation.ejs %>

    <br>

    <% include site-navigation.ejs %>

    <div class="main">
      <p><h3>Categories:</h3></p>
      <ul id="categoryList">
        <h3>Modern Memes</h3>
        <li><a class="active" href="/catalog?id=1"><%= array[0].name %></a></li>
        <li><a class="active" href="/catalog?id=2"><%= array[1].name %></a></li>
        <li><a class="active" href="/catalog?id=3"><%= array[2].name %></a></li>
        <h3>Classic Memes</h3>
        <li><a class="active" href="/catalog?id=4"><%= array[3].name %></a></li>
        <li><a class="active" href="/catalog?id=5"><%= array[4].name %></a></li>
        <li><a class="active" href="/catalog?id=6"><%= array[5].name %></a></li>
      </ul>
    </div>

  </body>
  </html>
