<!doctype html>

<html lang="en">
  <head>
    <% include header.ejs %>
    <link type="text/css" rel="stylesheet" href="../assets/stylesheets/item.css">
  </head>

  <body>
    <% include footer.ejs %>
    <% include user-navigation.ejs %>

    <br>

    <% include site-navigation.ejs %>

    <div class="main">
      <p><h3><%= reqItem.name %></h3></p>
      <img id="mainImg" src="<%= reqItem.url %>" alt="n/a">
      <form action="/catalog">
        <input type="submit" name="back" value="Return to categories">
      </form>
      <form action="/myItems/save"><input type="submit" name="elementCode" value=<%=reqItem.code %> ></form>
      <br><br><br>
      <p><h4>Rating: <%= reqItem.rating %></h4></p>
      <p>&nbsp;&nbsp;&nbsp;<%= reqItem.description %></p>
    </div>

  </body>
  </html>
