<% include ./includes/header.ejs %>
<% include ./includes/siteNavigation.ejs %>

<!-- start the main section -->

<section class="profile">
    <h1>Your profile</h1>
    <% if(typeof data == "undefined"){ %>
    <p>Your profile is empty.</p>
    <% }else{ %>
    <table>
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>My Rating</th>
            <th>Made It</th>
            <th></th>
        </tr>

        <% for(let i =0; i< data.userItems.length;i++) { %>
        <tr class="profile_row">
            <td><%= data.userItems[i].item.name %></td>
            <td><%= data.userItems[i].item.category %></td>

            <td><%= data.userItems[i].rating %></td>
            <td><%= data.userItems[i].madeIt %></td>

            <td>
                <form action="profile" method="post">
                    <% for(let j =0; j< data.userItems.length;j++) {%>
                    <input type="hidden" name="itemList" value="<%= data.userItems[j].item.code %>" />
                    <% } %>
                    <input type="hidden" name="itemCode" value="<%= data.userItems[i].item.code %>" />

                    <button type="submit" class="submitButton" name="action" value="update">Update</button>
                    <button type="submit" class="submitButton" name="action" value="delete">Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
    <% } %>
</section>
<section>
    <form action="/categories" method="get" id="float_left">
        <input type="submit" value="Continue browsing">
    </form>
</section>
<!-- end middle column -->
<% include ./includes/footer.ejs %>
